<h3>Add New Contact</h3>
<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="form-group">
						<input type="text" class="form-control" name="" placeholder="Enter First Name..."><br>
						<input type="text" class="form-control" name="" placeholder="Enter Last Name..."><br>
						<input type="text" class="form-control" name="" placeholder="Enter Street Address.."><br>
						<input type="text" class="form-control" name="" placeholder="Enter City..."><br>
						<input type="text" class="form-control" name="" placeholder="Enter State.."><br>
						<input type="text" class="form-control" name="" placeholder="Enter Zip.."><br>
						<input type="text" class="form-control" name="" placeholder="Enter Phone Number...">
						<button class="btn btn-default" ng-click="addNewContact()">Add Contact</button>
					</div>
				</div>
			</div>