<h3>Add New Contact/ Edit Existing Contact</h3>
<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="form-group">
						<input type="text" class="form-control" name="" placeholder="Enter First Name..." ng-model="newContact.Fname"><br>
						<input type="text" class="form-control" name="" placeholder="Enter Last Name..." ng-model="newContact.Lname"><br>
						<input type="text" class="form-control" name="" placeholder="Enter Street Address.." ng-model="newContact.address"><br>
						<input type="text" class="form-control" name="" placeholder="Enter City..." ng-model="newContact.city"><br>
						<input type="text" class="form-control" name="" placeholder="Enter State.." ng-model="newContact.state"><br>
						<input type="text" class="form-control" name="" placeholder="Enter Zip.." ng-model="newContact.zip"><br>
						<input type="text" class="form-control" name="" placeholder="Enter Phone Number..." ng-model="newContact.phone">
						<button class="btn btn-default" ng-click="addNewAddress()">Submit</button>
					</div>
				</div>
			</div>