body {
  background-color: #F4DBD8;
  color: #2A0800; }
  body .navbar-inverse {
    background-color: #775144;
    width: 100%;
    height: 300px;
    color: #2A0800; }
    body .navbar-inverse h1 {
      text-align: center;
      margin-top: 125px; }
